@import url(cssreset.css);

* {
  transition: all 0.3s ease;
}

/************************* start button hover effects *******************/
/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(15, 51, 131);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(15, 51, 131);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover,
.hvr-sweep-to-left:focus,
.hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before,
.hvr-sweep-to-left:focus:before,
.hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/************************* end button hover effects *******************/

/************************* start p5 ***********************************/

body {
  background-color: rgb(40, 40, 40);
  color: #efefef;
  direction: rtl;
  overflow-x: hidden;
}

.slider {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}
.slider input[name="slider"] {
  display: none;
}

.slider label[for^="pic"] {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid rgb(202, 202, 202);
  border-radius: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 10vh;
  z-index: 1000;
  cursor: pointer;
}

.slider .radio-switch {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 10vh;
  transform-origin: center;
  transform: translateY(-5px) translateX(-25px);
  z-index: 1001;
}

.slider label[for="pic1"] {
  transform: translateX(-25px);
}

.slider label[for="pic3"] {
  transform: translateX(25px);
}

.slider div[class^="pic"] {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(55, 55, 55, 0.7);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

.slider div.pic1-wrapper {
  background-image: url(../img/Bussiness\ plan\ bg.png);
}

.slider div.pic2-wrapper {
  transform: translateX(100vw);
  background-image: url(../img/background2.png);
}

.slider div.pic3-wrapper {
  transform: translateX(100vw);
  background-image: url(../img/WebDesign.jpg);
}
.slider div[class^="pic"] .text h2 {
  font-size: 32px;
  line-height: 50px;
}

.slider div[class^="pic"] .text {
  text-align: center;
  height: 200px;
  width: 70%;
  background-color: rgba(55, 55, 55, 0.7);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.slider div[class^="pic"] .text .links {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slider div[class^="pic"] .text .links a {
  width: 80%;
  padding: 10px 0;
  margin: 0 10px;
  background-color: rgba(255, 166, 0, 0.603);
}

@media screen and (max-width: 550px) {
  .slider div[class^="pic"] .text .links a {
    width: unset;
    padding: 10px 5px;
  }
}

/* pic1 slider */
.slider input#pic1:checked ~ div.pic1-wrapper {
  transform: translateX(0);
}
.slider input#pic1:checked ~ div.pic2-wrapper,
.slider input#pic1:checked ~ div.pic3-wrapper {
  transform: translateX(+100vw);
}

.slider input#pic1:checked ~ .radio-switch {
  transform: translateY(-5px) translateX(-25px);
}

/* pic2 slider */
.slider input#pic2:checked ~ div.pic2-wrapper {
  transform: translateX(0vw);
}
.slider input#pic2:checked ~ div.pic1-wrapper {
  transform: translateX(-100vw);
}
.slider input#pic2:checked ~ div.pic3-wrapper {
  transform: translateX(+100vw);
}
.slider input#pic2:checked ~ .radio-switch {
  transform: translateY(-5px) translateX(0px);
}

/* pic3 slider */
.slider input#pic3:checked ~ div.pic3-wrapper {
  transform: translateX(0);
}
.slider input#pic3:checked ~ div.pic1-wrapper,
.slider input#pic3:checked ~ div.pic2-wrapper {
  transform: translateX(-100vw);
}
.slider input#pic3:checked ~ .radio-switch {
  transform: translateY(-5px) translateX(25px);
}

/************************* end p5 ***********************************/
.container .hero_up {
  height: 10vh;
  width: 100%;
  padding: 0 20px;
  background-color: rgb(158, 154, 154);
  color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}
/************************* start p7 ***********************************/
.split-page {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3000;
}

.split-page input {
  display: none;
}

.split-page label.menu-label {
  position: fixed;
  top: 16px;
  left: 20px;
  z-index: 5000;
  cursor: pointer;
}

.split-page label.menu-label .bar {
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(40, 40, 40);
  z-index: 5001;
  margin: 5px;
  transform-origin: left;
  transition: all 0.4s cubic-bezier(0.73, -0.41, 0.27, 1.55);
}

.split-page input#menu-btn:checked ~ label.menu-label .bar-top {
  transform: rotate(45deg) scaleX(1.2);
}

.split-page input#menu-btn:checked ~ label.menu-label .bar-bottom {
  transform: rotate(-45deg) scaleX(1.2);
}

.split-page input#menu-btn:checked ~ label.menu-label .bar-middle {
  transform: translateX(-1000%);
}

.split-page .section {
  position: fixed;
  top: 0;
  height: 100vh;
  padding: 40px 20px;
}

.split-page .left {
  width: 40%;
  left: 0;
  background-color: rgb(40, 40, 40);
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.split-page .right {
  width: 60%;
  right: 0;
  background-color: rgb(35, 52, 71);
  transform: translateX(100%);
}

@media screen and (max-width: 692px) {
  .split-page .right {
    width: 100%;
  }
  .split-page .left {
    display: none;
    width: 0%;
  }
}

.split-page .right li {
  margin: 20px 10px;
  padding: 20px;
}

.split-page .right li a {
  position: relative;
  color: #efefef;
  font-size: 22px;
}

.split-page .right nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  z-index: 6000;
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.split-page .right nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  z-index: 6001;
  height: 3px;
  width: 50%;
  background-color: royalblue;
  transition: 0.2s ease;
}
.split-page .right nav ul li a:hover {
  color: rgb(255, 255, 255);
}
.split-page .right nav ul li a:hover::before {
  transform: translateX(-102%);
}

.split-page .left h2 {
  font-size: 44px;
  line-height: 66px;
  text-align: center;
  margin-bottom: 30px;
}

.split-page .left a {
  text-align: center;
  width: 200px;
  padding: 10px 20px;
  font-size: 22px;
  border-radius: 5px;
  border: 2px solid #efefef;
}

.split-page .left a:hover {
  color: rgb(35, 52, 71);
  border: 2px solid rgb(35, 52, 71);
  background-color: #efefef;
}

.split-page label.menu-label:hover span {
  background-color: #efefef;
}

.split-page input#menu-btn:checked ~ label.menu-label span {
  background-color: #efefef;
}

.split-page input#menu-btn:checked ~ .right {
  transform: translateX(0);
}

.split-page input#menu-btn:checked ~ .left {
  transform: translateY(0);
}

/************************* end p7 ***********************************/
